<div class='card'>
    <header class='card-header'>
        <a href='#' data-toggle='collapse' data-target='#composition-body' aria-expanded='true' class=''>
            <i class='icon-action fa fa-chevron-down'></i>
        </a>
        <span class='title'>Encabezado </span>
    </header>
    <div class='card-body collapse show' id='composition-body'>
        <h5 class='card-title'>${object.getTitle()}</h5>
        <p class='card-text'>
            Fecha del Resumen: {{date}}
            <br>
            Dominio: {{custodian.name}}, {{custodian.address[0].city}}, {{custodian.address[0].country}}
        </p>
    </div>
</div>